
CREATE DATABASE synapse;
CREATE USER synapse_user WITH ENCRYPTED PASSWORD 'SYNAPSE_USER_PASSWORD';
GRANT ALL PRIVILEGES ON DATABASE synapse TO synapse_user;
-- GRANT ALL PRIVILEGES ON ALL TABLES IN SCHEMA public TO synapse_user;

CREATE DATABASE keycloak;
CREATE USER keycloak_user WITH ENCRYPTED PASSWORD 'KEYCLOAK_USER_PASSWORD';
GRANT ALL PRIVILEGES ON DATABASE keycloak TO keycloak_user;
